.main {
    width: 420px;
    margin: auto;
    padding:2em;
    text-align: left;
    font-family:Poppins;
}

.title {
    font-weight: 700;
    margin-top: 0px;
    margin-bottom:16px;
}

.main .input {
    width: 100%;
    padding: 10px 16px;
}

.main button {
    width: 100%;
}

